<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Maintenance Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div id="container">
    <div id="content">
        <div class="jumbotron center">
            <div class="container-fluid">
                <div class="form-row">
                         <table class="table table-bordered layout_fixed">
                             <thead>
                             <tr>
                                 <th>ID</th>
                                 <th>Supplier</th>
                                 <th>Construction Site</th>
                                 <th>Site Engineer Name</th>
                                 <th>Plant ID</th>
                                 <th>Start</th>
                                 <th>End</th>
                                 <th>Description</th>
                                 <th>Status</th>
                                 <th>Type Of Work</th>
                                 <th/> <!--Accept/Complete-->
                                 <th/> <!--Reject/Cancel-->
                             </tr>
                             </thead>
                             <tbody>
                                 <tr th:each="order : ${orders}">
                                     <form action="#" th:action="@{/orders}" th:object="${order}" method="post">
                                         <input type="hidden" th:value="${order.orderId}" name="orderId"/>
                                         <input type="hidden" th:value="${order.supplier}" name="supplier"/>
                                         <input type="hidden" th:value="${order.constructionSite}" name="constructionSite"/>
                                         <input type="hidden" th:value="${order.siteEngineerName}" name="siteEngineerName"/>
                                         <input type="hidden" th:value="${order.plantId}" name="plantId"/>
                                         <input type="hidden" th:value="${order.description}" name="description"/>
                                         <input type="hidden" th:value="${order.status}" name="status"/>
                                         <td th:text="${{order.orderId}}">-</td>
                                         <td th:text="${{order.supplier}}">-</td>
                                         <td th:text="${{order.constructionSite}}">-</td>
                                         <td th:text="${{order.siteEngineerName}}">-</td>
                                         <td th:text="${{order.plantId}}">-</td>
                                         <td>
                                             <input class="form-control" type="date" th:value="${order.startDate}" name="startDate"/>
                                         </td>
                                         <td>
                                             <input class="form-control" type="date" th:value="${order.endDate}" name="endDate"/>
                                         </td>
                                         <td th:text="${{order.description}}">-</td>
                                         <td th:text="${{order.status}}">-</td>
                                         <td th:switch="${{order.status}}">
                                             <select th:case="'PENDING'" class="form-control" name="typeOfWork">
                                                 <option value="PREVENTIVE">PREVENTIVE</option>
                                                 <option value="CORRECTIVE">CORRECTIVE</option>
                                                 <option value="OPERATIVE">OPERATIVE</option>
                                             </select>
                                             <div th:case="*">-</div>
                                         </td>
                                         <td th:switch="${{order.status}}">
                                             <button class="btn btn-primary btn-block" type="submit" th:case="'PENDING'" th:name="action" th:value="accept"> Accept</button>
                                             <button class="btn btn-primary btn-block" type="submit" th:case="'OPEN'" th:name="action" th:value="complete">Complete</button>
                                             <div th:case="*">-</div>
                                         </td>
                                         <td th:switch="${{order.status}}">
                                             <button class="btn btn-primary btn-block" type="submit" th:case="'PENDING'" th:name="action" th:value="reject">Reject</button>
                                             <button class="btn btn-primary btn-block" type="submit" th:case="'OPEN'" th:name="action" th:value="cancel">Cancel</button>
                                             <div th:case="*">-</div>
                                         </td>
                                     </form>
                             </tbody>
                         </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>